{% include "partials/head.html" %}

<body>
    <div class="main-container">
        {% include "partials/header.html" %}

        <div class="main-app-container">
            <div class="input-area-container">
               Input area
            </div>
            <div class="main-display-area-container">
                display area
            </div>
            <div class="main-footer-container">
                <div>
                    foot
                </div>
            </div>
        </div>
    </div>
</body>
</html>