.main-filters-containers {
    background-color: #101827;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    height: 90%;

}

.filter-title {
  color: #FFFFFF;
  margin: 10px 10px 10px 0px;
}

.side-section {
    height: 100%;
    width: 20%;
}

.input-filters {
    margin-top: 1rem;
    height: 3rem;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 0px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}

.input-filters:focus {
    outline: none;
}

.checkbox_area {
  display: flex;
  margin: 2rem auto;
  margin-top: 0;
}

.send_or_recived_input_filters_description {
  color: #FFFFFF;
}

.individual_checkbox_area {
  margin: 1rem;
}

.individual_input_text_area {
  margin: 1rem;
}

/* file upload button */
input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
  }
  
  /* file upload button hover state */
  input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
  }
  
  /* file upload button active state */
  input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
  }