.table-title {
    font-size: 2.5rem;
}

.main-table-container {
    max-height: 50rem;
    overflow: scroll;
    margin: 0 auto;
}

.main-table-container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.main-table-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}